:root{

    --cor01:#d34410;
    --cor02:black;
    --cor03:#EB6507;
    --cor04:#EB5D07;
    --cor05:#cc5d0d;
    --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, 0.247);


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(255, 142, 89);
}
section::before{
    content: '';
    position: absolute;
    top: 18.9%;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgb(255, 107, 38);
}

.container{
    position: relative;
    min-width: 1100px;
    min-height: 550px;
    display: flex;
    z-index: 1000;
}

.container .pt1{
    height: calc(100% - 80px);
    position: absolute;
    top: 40px;
    width: 350px;
    background: rgb(255, 115, 0);
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.15);
}

.container .pt2{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height: 100%;
    background: rgb(255, 255, 255);
}

.container .pt2 .area-mensagem{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.container .pt2 .area-mensagem .area-input{
    position: relative;
    margin-bottom: 35px;
}
.container .pt2 .area-mensagem .area-input.v2{
    width: 47%;
}
.container .pt2 .area-mensagem .area-input.v3{
    width: 100%;
}
.container .pt2 .area-mensagem .area-input input,
.container .pt2 .area-mensagem .area-input textarea{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    border: none;
    outline: none;
    color: black;
    border-bottom: 1px solid #777;
}
.container .pt2 .area-mensagem .area-input textarea{
    height: 120px;
}
.container .pt2 .area-mensagem .area-input span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}
.container .pt2 .area-mensagem .area-input input:focus ~ span,
.container .pt2 .area-mensagem .area-input input:valid ~ span,
.container .pt2 .area-mensagem .area-input textarea:focus ~ span,
.container .pt2 .area-mensagem .area-input textarea:valid ~ span{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400px;
    letter-spacing: 1px;
    font-weight: 500;
    color: var(--cor01);
}
.container .pt2 .area-mensagem .area-input input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color: var(--cor05);
    color: rgb(255, 255, 255);
    border: none;
    padding: 12px;
    max-width: 150px ;
    padding: 12PX;
    transition: 0.4s;
}

.container .pt2 .area-mensagem .area-input input[type="submit"]:hover{
    background: var(--cor03);
}


















.logo{
    font-size: 30px;
    color: white;
}

.logo-letra{
    font-size: 45px;
}

.navbar{
    background-image: linear-gradient(to top, var(--cor03), var(--cor04), var(--cor01));
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.navbar ul li{
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: var(--cor02);
}

 .nav-button{
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
}

.nav-button:hover{
    color: black;
    background-color: white;
} 

a.link-educa{
    text-decoration: none;
}