@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --cor01:#d34410;
    --cor02:black;
    --cor03:#EB6507;
    --cor04:#EB5D07;
    --cor05:#cc5d0d;
    --box-shadow:0 .5rem 1.5rem rgba(0, 0, 0, 0.349);

    --fonte-depoimentos:font-family: 'Playfair Display', serif;
    font-family: 'Vollkorn', serif;
}

body{
    height: 300vh;
    background-color: var(--cor05);
}


.logo{
    font-size: 30px;
    color: white;
}

.logo-letra{
    font-size: 45px;
}

.navbar{
    background-image: linear-gradient(to top, var(--cor03), var(--cor04), var(--cor01));
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
}

.navbar ul li{
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: var(--cor02);
}

 .nav-button{
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
}

.nav-button:hover{
    color: black;
    background-color: white;
} 

a.link-educa{
    text-decoration: none;
}

#marcado-servico{
    color: var(--cor02);
}


.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
    margin: 0 auto;
}
.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}
.card{
    border-radius: 25px;
    background-color: #fff;
}
.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    margin-top: 30px;
}
.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}
.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--cor01);
    border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: var(--cor03);
}
.overlay::after{
    border-radius: 0 25px 0 0 ;
    background-color: #FFF;
}
.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}
.card-image .card-image{
    position: relative;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--cor03);
}
.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}
.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}
.button{
    border: none;
    font-size: 16px;
    color: #FFF;
    padding: 8px 16px;
    background-color: var(--cor01);
    border-radius: 6px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button:hover{
    background-color: var(--cor04);
}
.swiper-navBtn{
    color: #6E93f7;
    transition: color 0.3 ease;
}
.swiper-navBtn:hover{
    color: #6E93f7;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-pagination.bullet{
    background-color: var(--cor03);
    opacity: 1;
}
.swiper-pagination.bullet-active{
    background-color: #4070F4;
}

@media screen and (max-width: 768px) {
    .slide-content{
        margin: 0 10px;

    }
    .swiper-navBtn{
        display: none;
    }
}